*{
    margin: 0%;
    padding: 0%;
}
.achievements{
    margin-top: 3%;
    background: linear-gradient(to right,#173617bc,#0c1010b5);
}
.achi{
    position: relative;
    line-height: 50px;
    cursor: pointer;
    padding: 2%;
    text-transform: capitalize;
    max-height:420px;
}
.achievements h1{
    max-width: fit-content;
    cursor: pointer;
    padding-top: 1ch;
    margin-bottom: 20px;
    color:goldenrod;
    font-size: 35px;
    font-weight: 400;
    font-family: cursive;
    background-image: linear-gradient(
        to bottom,transparent 0%,transparent 93%,rgb(239, 213, 213) 60%,rgb(178, 14, 14) 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x:right;
    transition:  background-size 600ms;
    text-transform:uppercase;
    font-size: 40px;
    text-shadow: 7px 5px 4px black;
    letter-spacing: 3px;
}
.achievements h1:hover{
    background-size: 100% 100%;
    background-position-x:center;
}
.tr1{
    margin-top: -5%;
    width: 100px;
    height: 60px;
}
.tr11{
    margin-top: -5%;
    width: 100px;
    height: 60px;
    top: -50px;
    position: relative;
}
.ac{
    position:relative;
    top: -50px;
}
.tr2{
    position: relative;
    width: 100px;
    height: 60px;
    top: -60px;
}
.achi strong{
    top: -40px;
    line-height: 50px;
    margin-left: 10%;
    font-family:cursive;
    text-align: center;
}

@media (max-width:400px) and (min-width:200px){
    .achievements{
        display:block;
        position:relative;
        min-height:40pc;
    }
    .achievements h2{
        font-size: 30px;
        position: relative;
        padding: 20px;
        top: 10px;
    }
    .achi{
        position: relative;
        display: block;
        justify-content: center;
        align-items: center;
    }
    .achi img{
        position:relative;
        top: -3vh;
        left: -1vh;
        width: 40px;
        height: 50px;
    }
    .achi strong{
        top: 10px;
        max-width: 75%;
        line-height: 20px;
        position: relative;
        font-size: 16px;
        left: 2.5vh;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-align:left;
    }
    .achi .go{
        position: relative;
        font-size: 13px;
        left: 3vh;
        text-align:left;
    }
    .achi .tr2{
        top: -45px;
        width: 90px;
        left: -30px;
    }
    .achi .tr{
        position: relative;
        top: -30px;
        left: -15px;
    }
}