.experience{
    margin-top: 3%;
    padding: 1%;
    background-color: #b8294a29;
    display:flex;
    flex-direction: column;
    max-width: 13in;
}
.experience h1{
    font-size: 60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    max-width: fit-content;
    color: aquamarine;
    letter-spacing: 2px;
    background-image: linear-gradient(
        to bottom,transparent 0%,transparent 93%,rgba(78, 13, 2, 0.66) 60%,rgb(194, 189, 189) 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x:right;
    transition:  background-size 600ms;
}
.experience h1:hover{
    background-size: 100% 100%;
    background-position-x:center;
}
.internship{
    display: block;
    margin-top: 2%;
    padding: 10px;
    border: 1px solid  blanchedalmond;
    line-height: 200%;
    border-radius: 40px;
    background: linear-gradient(to left,rgba(105, 85, 85, 0.33),rgba(1, 48, 74, 0.747));
    position:relative;
    opacity: 0.9;
}
.internship:hover{
    box-shadow:10px 0px 60px 10px rgb(82, 78, 78);
    cursor: pointer;
}
.internship h3{
    font-size: 55px ;
    max-width:250px;
    padding: 1%;
    margin:25px;
    letter-spacing: 2px;
    color: blanchedalmond;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: linear-gradient(
        to bottom,transparent 0%,transparent 93%,rgba(78, 13, 2, 0.66) 60%,rgb(194, 189, 189) 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x:left;
    transition:  background-size 600ms;
}
.internship h3:hover{
    background-size: 100% 100%;
    background-position-y:center;
}
.int{
    display: inline-block;
    position: relative;
    color: rgba(220, 0,0,0.9);
    font-size:32px;
    margin-left:3%;
    margin-bottom: 2%;
    letter-spacing: 0.5ch;
    font-weight:700; 
    padding: 3px;
    border-radius: 12%;
}
.internship i{
    padding-left: 5%;
    font-size:x-large;
    font-weight: 600;
    color:antiquewhite;
    line-height: 330%;
}
.mark{
    margin-top: 1%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: larger;
}
.internship p{
    color:snow;
    word-spacing: 2px;
    left: 40px;
    top: 10px;
    font-size: 22px;
    word-spacing: 1px;
    max-width: 70%;
    line-height: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.link{
    text-align: center;
    color:palegreen;
    font-size: 20px;
}
.link:hover{
    cursor: pointer;
    text-decoration: underline;
    color: red;
}
.grid_ml{
    margin-top: -9%;
    display: grid;
    grid-template-rows:repeat(2,120px);
    grid-template-columns:repeat(2,130px);
    grid-gap:15px;
    float:right;
}
.ml1{
    grid-column: span 2;
}
.ml_img{
    left: -2%;
    top: -12%;
    width: 263px;
    height: 152px;
    border-radius: 30px;
}
.ml1_img{
    width: 130px;
    height: 120px;
    left: -8%;
    border-radius: 30px;
}
.hack{
    display: block;
    background: linear-gradient(to right,rgba(105, 85, 85, 0.33),rgba(1, 48, 74, 0.747));
    margin-top: 4%;
    border: 1px solid  blanchedalmond;
    border-radius: 40px;
    cursor: pointer;
    max-height: 480px;
}
.insta{
    width: 290px;
    height: 200px;
    border-radius: 40px;
    float: right;
    position: relative;
    left:-1pc;
    top: -15pc;
}
.hack h2{
    margin-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 600;
    color: antiquewhite;
    max-width: fit-content;
    font-size:50px;
    letter-spacing: 1px;
    margin-left: 2%;
    background-image: linear-gradient(
        to bottom,transparent 0%,transparent 93%,rgba(78, 13, 2, 0.66) 60%,rgb(194, 189, 189) 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x:left;
    transition:  background-size 600ms;
}
.hack h2:hover{
    background-size: 100% 100%;
    background-position-y:center ;
}
.hack h3{
    margin-top: 2%;
    margin-left: 10%;
    margin-bottom: 1%;
    letter-spacing: 2px;
    font-size: 35px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:firebrick;
    text-transform:uppercase;
}
.hack kbd{
    padding-top:3%;
    word-spacing: 2px;
    font-size: larger;
    word-spacing: 1px;
    margin-left: 5%;
    line-height: 40px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.hack i{
    padding-top:3%;
    word-spacing: 2px;
    font-size:18px;
    word-spacing: 1px;
    margin-left: 5%;
    line-height: 40px;
    text-decoration: underline;
}
.det{
    display: block;
    align-items: center;
    justify-content:center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-size: 17px;
}
.det p{
    top: 20px;
    max-width:9in;
    position:relative;
    left: 60px;
    line-height: 40px;
}
.det p:hover{
    color: aliceblue;
}
.det li{
    position: relative;
    top: 40px;
    max-width: fit-content;
    left: 110px;
    line-height: 34px;
}
.det marquee{
    position: relative;
    top:40px;
    font-size: 18px;
    word-spacing: 3px;
    letter-spacing: 2px;
    color: red;
    top: -7pc;
}
.hack:hover{
    box-shadow: 10px 0px 30px 15px rgb(39, 37, 37);
}
.hover:hover{
    text-decoration: underline;
    text-decoration-color: #000100;
}
.online{
    background: linear-gradient(rgba(105, 85, 85, 0.33),rgba(1, 48, 74, 0.747));
    margin-top: 4%;
    border: 1px solid blanchedalmond;
    border-radius: 30px;
    padding-bottom: 2%;
    cursor: pointer;
}
.online:hover{
    box-shadow: 10px 0px 30px 15px rgb(39, 37, 37);
}
.online1{
    display: flex;
    flex-direction: row;
    padding: 5ch;
    padding-bottom: 2%;
}
.online p{
    margin-top: -25%;
    text-transform: none;
}
.one{
    display:inline-block;
    width: 45%;
}
.two{
    display:inline-block;
    width: 45%;
}
.one,p:hover{
    color: aliceblue;
}
.online h3{
    padding-top: 1ch;
    display:block;
    position: relative;
    left: 20px;
    font-size: 35px;
    max-width: fit-content;
    color:  blanchedalmond;
    background-image: linear-gradient(
        to bottom,transparent 0%,transparent 93%,rgba(78, 13, 2, 0.66) 60%,rgb(194, 189, 189) 100%
    );
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x:left;
    transition:  background-size 600ms;
}
.online h3:hover{
    background-size: 100% 100%;
    background-position-y:center;
}
.online i{
    margin-top: 2%;
    margin-left: 55%;
}
.era{
    left: 0%;
    top: -220%;
    width: 100px;
    height: 80px;
}
@media (max-width:750px) and (min-width:550px){
    .hack i{
        font-size: 17px;
    }
    .det p{
        font-size: 17px;
    }
}
@media (max-width:400px) and (min-width:200px){
    .experience{
        display:flex;
        flex-direction: column;
        max-width:fit-content;
    }
    .experience h1{
        font-size: 55px;
        padding: 10px;
    }
    .internship{
        max-width:fit-content;
        display: grid;
        margin-top: 8%;
        position: relative;
        border: none;
        border-radius: 40px;
        border: 1px solid  blanchedalmond;
    }
    .internship h3{
        position: relative;
        font-size: 40px;
        padding: 0%;
        font-size: 50px;
        max-width: fit-content;
    }
    .internship pre{
        text-decoration: underline 2px snow;
        letter-spacing: 5px;
        left: -10px;
        font-size: 31px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .internship p{
        max-width: fit-content;
        font-size: 20px;
        left: 0px;
        top: -20px;
    }
    .internship i{
        position: relative;
        line-height: 25px;
        font-size: 17px;
        top: -15px;
    }
    .internship a{
        font-size: 15px;
    }    
    .grid_ml{
        display:none;
    }
    .internship kbd{
        color: #011701;
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-weight: 600;
        font-size: 17px;
        line-height: 30px;
    }
    .hack{
        max-width: 100%;
        margin-top: 8%;
        position: relative;
        border: none;
        border-radius: 40px;
        justify-content:left;
        padding-right: 20px;
        max-height:max-content;
        border: 1px solid  blanchedalmond;
    }
    .hack h2{
        font-size: 50px;
        position: relative;
        padding: 10px;
        top: 0px;
    }
    .hack h3{
        font-family: Arial, Helvetica, sans-serif;
        color:firebrick;
        letter-spacing: 6px;
        font-size: 35px;
        text-align: left;
        position: relative;
        margin-top: 10px;
        margin-left: 10px;
    }
    .hack .insta{
        width: 150px;
        height: 100px;
    }
    .hack kbd{
        position: relative;
        top: 20px;
        font-size: 20px;
        text-align:left;
        justify-content:left;
    }
    .hack i{
        font-size: 19px;
        justify-content: center;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    .hover{
        margin-top: -100px;
    }
    .det{
        width: 100%;
        margin-top: 8%;
        position: relative;
        border: none;
        border-radius: 10%;
        justify-content:center;
        left: 0px;
    }
    .det p{
        padding: 10px;
        font-size: 16px;
        left:10px;
        top: 20px;
    }
    pre{
        display: none;
    }
    .det li{
        display:flex;
        word-spacing: 3px;
        font-size: 18px;
        min-width: 300px;
        left: 10px;
        line-height:25px;
        top: -85px;
    }
    .insta{
        position: relative;
        top:-16.5pc;
        left: -40px;
    }
    .online{
        max-width: 100%;
        position: relative;
    }
    .online h3{
        position: relative;
        top: 40px;
        padding: 12px;
        font-size: 35px;
    }
    .online1{
        width: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
    }
    .one p{
        display:flex;
        text-align:left;
        font-size: 25px;
        position: relative;
        min-width: 2.2in;
        line-height: 30px;
        left: 80px;
        top: -50px;
    }
    .one i{
        display: grid;
        font-size: 16px;
        text-align:center;
        position: relative;
        min-width: 2in;
        top: -40px;  
        left: -40px;
    }
    .one img{
        position: relative;
        max-width: 90px;
        min-height: 90px;
        top: 10px;
        left: -40px;
    }
    .two img{
        position: relative;
        max-width: 90px;
        min-height: 90px;
        top: -20px;
        left: -40px;
    }
    .two p{
        display:flex;
        text-align:left;
        position: relative;
        min-width:2in;
        left: 80px;
        top: -70px;
        font-size: 25px;
    }
    .two i{
        display:flex;
        min-width: 2in;
        text-align:left;
        position: relative;
        top: -60px;
        left: -30px;
    }
}